footer {
  padding-left:10%;
  bottom:0px;
  position:absolute;
  font-size:75%;
}
#footer {
  padding-left:10%;
  font-size:75%;
}
.footer {
  padding-left:10%;
  font-size:75%;
}
.loadingdim {
    background: rgba(0,0,0,.5) url('loadingi.gif') no-repeat;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
}